[Unit]
Description=Mount partition with system root for for firmware files ('system_a')
ConditionPathExists=/lib/firmware/system
Before=systemd-udevd-control.socket
After=local-fs-pre.target
Before=local-fs.target
Before=umount.target
Conflicts=umount.target
DefaultDependencies=no

[Install]
WantedBy=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
# sda7:
#  - system_b with older partition scheme
#  - single system with newer partition cheme
ExecStart=mount -t ext4 -o ro /dev/sda7 /lib/firmware/system
ExecStop=umount /lib/firmware/system
