name: Daily build

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  master:
    uses: ./.github/workflows/build-template.yml
    with:
      host: debian-bookworm
      images: core-image-base core-image-weston core-image-x11 initramfs-test-image initramfs-test-full-image initramfs-firmware-image initramfs-rootfs-image cryptodev-module
      machines: qcom-armv8a qcom-armv7a-modem qcom-armv7a
      ref_type: branch
      ref: master
      branch: master
      url: ${{github.server_url}}/${{github.repository}}
    secrets: inherit

  kirkstone:
    uses: ./.github/workflows/build-template.yml
    with:
      host: debian-bookworm
      images: core-image-base core-image-weston core-image-x11 initramfs-test-image initramfs-test-full-image initramfs-firmware-image initramfs-rootfs-image cryptodev-module
      machines: qcom-armv8a sdx55-mtp qcom-armv7a
      ref_type: branch
      ref: kirkstone
      branch: kirkstone
      url: ${{github.server_url}}/${{github.repository}}
    secrets: inherit

  dunfell:
    uses: ./.github/workflows/build-template.yml
    with:
      host: debian-bookworm
      images: core-image-base core-image-weston core-image-x11 initramfs-test-image initramfs-test-full-image cryptodev-module
      machines: qcom-armv8a
      ref_type: branch
      ref: dunfell
      branch: dunfell
      url: ${{github.server_url}}/${{github.repository}}
    secrets: inherit
